html {
    height: 100%;
    font-size: 16px;
}

@media screen and (max-width: 960px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12.8px;
    }
}

@media screen and (max-width: 639px) {
    html {
        --side-padding: 16px;
    }
}

body {
    width: 100%;
    height: 100%;
    min-width: 320px;
    -webkit-tap-highlight-color: transparent;
    color: var(--cb-textPrimary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", sans-serif;
}

#app {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

label,
input,
textarea,
input,
select,
button {
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", sans-serif;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
input:-moz-placeholder {
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", sans-serif;
    color: var(--cb-textTertiary);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
label,
input,
textarea {
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

input,
textarea,
select {
    color: var(--cb-textPrimary);
}

strong {
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

h4 {
    font-size: 1.4rem;
    font-weight: 700;
}

h5 {
    font-size: 1.2rem;
    font-weight: 700;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
}

p,
label,
textarea,
input,
label,
select,
button,
textarea {
    font-size: 1rem;
}

a {
    color: #000;
    text-decoration: none;
}

.noscroll {
    overflow: hidden;
}

.noscroll-fixed {
    overflow: hidden;
    position: fixed;
}

.hidden {
    display: none;
}