// Colors
// $clr1: #fff;
// $clr2: #000;
$clr8: #d4afb9;
$clr9: #d1cfe2;
$clr10: #9cadce;
$clr11: #7ec4cf;
$clr12: #52b2cf;
// $clr8: #a88979;
// $clr9: #89b6d4;
// $clr10: #b8e5fa;

$clr1: #212121;
$clr2: #424242;
$clr3: #616161;
$clr4: #757575;
$clr5: #9e9e9e;
$clr6: #bdbdbd;
$clr7: #e0e0e0;

// Breakpoints editor status
$editor-mobile-breakpoint: 700px;
$editor-narrow-breakpoint: 815px;
$editor-normal-breakpoint: 1055px;

// Breakpoints
$mobile-breakpoint: 800px;
$narrow-breakpoint: 720px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;